body{
  background-color: #ece4d8;
  margin: 0;
}

div{
  width:auto;
  height:auto;
  padding:70px;
  background-color: #ece4d8;
  margin:0;
}

h4{
  color: #7c334f;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  margin-bottom: 0;
}
h3{
  color: #7c334f;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
}
h2{
  color: #7c334f;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  padding-top:20px;
}

h1{
  color: #ffffff;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  background-color: #7c334f;
  text-align: center;
}

p{
  color: #417090;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
}
