body{
  background-color: #ece4d8;
  margin: 0;
}

div{
  width:auto;
  height:auto;
  padding:70px;
  background-color: #ece4d8;
  margin:0;
}

h2{
  color: #7c334f;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
}

h1{
  color: #ffffff;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  background-color: #7c334f;
  text-align: center;
  padding-top:200px;
  padding-right:0px;
  padding-bottom:200px;
  padding-left:0px;
}

p{
  color: #417090;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
}
